<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <title>eShop</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <input type="text" class="goods-search" v-model="searchLine"/>
        <button v-on:click="FilterGoods" class="search-button" type="button">Искать</button>
        <button class="cart-button" type="button">Корзина</button>
      </header>
      <main>
        <div class="goods-list">
            <h3 v-if="goods.length == 0">Нет данных</h3>
          <div class="goods-item" v-for="good in filteredGoods">
            <h3>{{good.product_name}}</h3>
            <p>{{good.price}}</p>
          </div>
        </div>
        <div v-if="isVisibleCart == false" class="cart-list">
            <h3>CART</h3>
        </div>
      </main>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
